<table
  mat-table
  [dataSource]="dataSource"
  [ngClass]="formatElevation()"
>
  <!--
    D&D directives:
    cdkDropListGroup
  -->
  <div *ngFor="let column of displayedColumns; first as isFirst;">
    <ng-container matColumnDef="{{column}}">
      <th
        mat-header-cell
        *matHeaderCellDef
        [ngClass]="{
          'vertical-separator': options.verticalSeparator,
          'titlecase': options.capitalisedHeader
        }"
      >
        <ng-container
          *ngIf="columnDefs && columnDefs[column]?.headerTemplate; else defaultHeaderDef"
          [ngTemplateOutlet]="columnDefs[column].headerTemplate"
          [ngTemplateOutletContext]="{columnDef: columnDefs[column], value: column}"
        ></ng-container>
        <ng-template #defaultHeaderDef>
          {{ columnDefs && columnDefs[column]?.label ? columnDefs[column]?.label : column }}
        </ng-template>
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="{
          'horizontal-separator': false && options.horizontalSeparator,
          'vertical-separator': options.verticalSeparator
        }"
      >
        <div class="value-cell" [ngStyle]="isFirst ? formatIndentation(element) : ''">
          <mat-icon
            *ngIf="isFirst"
            [ngStyle]="{'visibility': element.children.length ? 'visible' : 'hidden'}"
            (click)="onNodeClick(element)"
          >
            {{element.isExpanded ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}
          </mat-icon>
          <ng-container
            *ngIf="columnDefs && columnDefs[column]?.template; else defaultDef"
            [ngTemplateOutlet]="columnDefs[column].template"
            [ngTemplateOutletContext]="{columnDef: columnDefs[column], value: element.value[column]}"
          ></ng-container>
        </div>
        <ng-template #defaultDef>
          {{element.value[column]}}
        </ng-template>
      </td>
    </ng-container>
  </div>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns;"
    [ngClass]="{'highlight-on-hover': options.highlightRowOnHover}"
  >
    <!--
      D&D classes:
      'drag-enabled': options.dragAndDropEnabled
    -->
    <!--
      D&D directives:
      cdkDropList
      cdkDrag
      cdkDropListSortingDisabled
      [id]="row.id"
      [cdkDragData]="row"
      [cdkDropListData]="row"
      [cdkDropListDisabled]="!options.dragAndDropEnabled"
      (cdkDragStarted)="dragStarted(row)"
      (cdkDragReleased)="dragReleased()"
      (cdkDropListDropped)="dropListDropped($event)"
    -->
  </tr>

</table>
